**Data-Structure- theory question**

In [1]:
# Q1. What are data structures, and why are they important?
#     Data structures are specialized formats for organizing, storing, and accessing collections of data so it can be accessed and modified efficiently. Data structures define the relationships between data elements and provide operations for manipulating them.

# it's important bucause-
# 1. They optimize storage and retrieval, improving performance.
# 2. Large-scale applications require structured data management.
# 3. Optimize searching and sorting operations
# 4. Reduces memory wastage and optimizes usage.
# 5. Used Everywhere like Databases, operating systems, AI, web development, etc.

In [ ]:
# Q2. Explain the difference between mutable and immutable data types with examples?
#     Mutable data types allow modifications like adding, removing, or changing elements without changing their memory address.
#      Lists , Dictionaries, Sets are mutable data types.
#      Lst = [1, 2, 3]
       print(Lst)  # output [1, 2, 3]

       Lst.append(4)  # Modify the list by add a element
       print(Lst)  # Output: [1, 2, 3, 4]

#      Immutable data types do not allow modifications once created. Any change creates a new object in memory.
#      integers, srtings, tuples, frozensets are immutable.

#      t= (1, 2, 3)
#      type(t) # tuple
#      t.appendd(4) # give error

In [ ]:
#Q3. What are the main differences between lists and tuples in Python?
#    Lists and tuples are used to store collections of items in Python, but they have key differences in terms of mutability, performance, and usage. lists are mutable we can modify it by do any changes but tuples are immutable we can't modify it.
#    Lists are used when we need to chnage data but tuples are used when we want data should remain constant for safety and performance.

In [ ]:
#Q4. Describe how dictionaries store data?
#    Dictionaries is a data stucture that stores data as key value pair. The keys are unique and immutable. Dictionaries are unordered (before Python 3.7), mutable, and fast due to their underlying implementation using hash tables.
#    Dic= {"course":"data science", "duration":100}

In [ ]:
#Q5. Why might you use a set instead of a list in Python?
#    Both sets and lists store collections of elements, but sets offer distinct advantages in certain scenarios. Sets does not allow duplicate element, they allow unique collection while lists allows duplicate.
#    Sets support fast operations like union, intersection, and difference while Lists do not support these operations efficiently.
#    Sets store only unique values, so they take less memory than lists containing duplicates.
#    Sets are unorderd (elements appear in an arbitrary sequence) and  lists maintaing order

In [ ]:
#Q6. What is a string in Python, and how is it different from a list?
#    sring is a sequence of character. charecters are represented using numerical values, each charecter is assigned a unique. Each character in the string can be accessed by its index, or position and Substrings can be extracted using slicing.
#    Strings can be joined together and altered using a variety of techniques.  It is defined using single ('), double ("), or triple (''' """) quotes.

#    it is different from a lists in some scenarios-
#    srings are immutable, can't be change after creation. lists are mutable, element can be modified
#    strings are sequence of charecter and lists are Sequence of elements (stor any data type).
#    strings requires creating a new string, lists Can modify elements directly.

In [ ]:
#Q7. How do tuples ensure data integrity in Python?
#    A tuple in Python is an immutable sequence of elements, once it created, its contents cannot be modified. This immutability is the key factor in ensuring data integrity.
#    Tuples are Hashable, allows use as dictionary keys & set elements. They Make Code More Readable & Makes intent clear when data shouldn't change. Tuples reduce memory overhead in large-scale applications.

In [ ]:
#Q8. What is a hash table, and how does it relate to dictionaries in Python?
#    A hash table is a data structure that stores key-value pairs and provides fast lookups, insertions, and deletions in average O(1) time complexity. A key is passed through a hash function to generate an index.
#    Dictionaries in python is an implementation of a hash table. It allows efficient key-value storage and retrieval. Dictionaries  use hash tables under the hood to provide fast access to values based on keys. keys are hashed, each key is unique.
#    It optimizes hash tables to store key-value pairs efficiently.

In [ ]:
#Q9. Can lists contain different data types in Python?
#    yes,  lists are heterogeneous, they can store elements of different data types in the same list.

In [ ]:
#Q10. Explain why strings are immutable in Python.
#     In Python, strings are immutable, once a string is created, it cannot be modified. Any operation that appears to change a string actually creates a new string rather than modifying the original one.

In [ ]:
#Q11. What advantages do dictionaries offer over lists for certain tasks?
#     Dictionaries are better than lists in certain scenarios because they offer fast lookups, key-value associations, and efficient data organization.
#     Dictionaries use hashing, so lookups are almost instantaneous and Dictionaries allow associating meaningful keys with values, making data retrieval easier.
#     Dictionaries automatically prevent duplicate keys, making them useful for data integrity.

In [ ]:
#Q12. Describe a scenario where using a tuple would be preferable over a list?
#     A tuple is preferable over a list when immutability, performance, or data integrity is required.
#     Scenario- Storing GPS Coordinates:
#     coordinates = (40.7128, -74.0060)
#     print(coordinates[0])  # Output: 40.7128 (Latitude)
#     print(coordinates[1])  # Output: -74.0060 (Longitude)
#     Coordinates should not change, so immutability prevents accidental modifications ans also Tuples consume less memory than lists, improving performance.

In [ ]:
#Q13. How do sets handle duplicate values in Python?
#     sets automatically eliminate duplicate values. A set is an unordered collection of unique elements, meaning it only stores one instance of each value, regardless of how many times that value is added.
#     my_set = {1, 2, 2, 3, 4, 4, 5}
#     print (my_set)
#     {1, 2, 3, 4, 5} #output

In [ ]:
#Q14. How does the “in” keyword work differently for lists and dictionaries?
#     The 'in' keyword is used to check for membership in both lists and dictionaries, but it works differently for each.
#     When n is used with a list,it checks if a given value exists anywhere in the list while When n is used with a dictionary, it checks only for keys, not values.

In [ ]:
#Q15. Can you modify the elements of a tuple? Explain why or why not?
#     No, we can't modify the elements of a tuple once it is created because tuples are immutable. Immutability means that after a tuple is created, its content can't changed (add, remove, or modify individual elements within the tuple.
#     since tuples are immutable, they are generally faster than lists when it comes to accessing elements, as their data does not need to modified in place.

In [ ]:
#Q16. What is a nested dictionary, and give an example of its use case?
#     A nested dictionary is a dictionary inside another dictionary. This allows for hierarchical data storage, where each key maps to another dictionary instead of a single value.
#     employees= {
#     "E101": {"name": "Alice Johnson", "department": "Engineering", "salary": 75000, "projects": ["AI Research", "Cloud Migration"]},
#     "E102": {"name": "Bob Smith","department": "Marketing", "salary": 65000, "projects": ["SEO Strategy", "Ad Campaign"]},
#     "E103": {"name": "Charlie Brown", "department": "HR", "salary": 60000, "projects": ["Recruitment Drive", "Employee Engagement"]}
#      }

#      print(employees["E101"]["name"])       #Output: Alice Johnson

In [ ]:
#Q17. Describe the time complexity of accessing elements in a dictionary.
#     Dictionaries use hash tables to store key-value pairs, which allows for efficient lookups, insertions, and deletions. Dictionary lookups are usually O(1) because Python hashes the key to compute an index.
#     and directly retrieves the value from that index. No need to search through all elements, unlike lists.

In [ ]:
#Q18. In what situations are lists preferred over dictionaries?
#     lists are preferred over dictionaries in situations where you need to store an ordered collection of elements and access them via index positions. Lists are also useful for operations like sorting, slicing,
#     and iterating over sequential data and lists provide more convenient and flexible tools for modification in element.

In [ ]:
#Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
#     Dictionaries are considered unordered because they rely on a hash table for storage, not an indexed structure like lists.
#     Dictionaries use hashing, which allows direct access to values based on key, has a significant impact on data retrieval. Since dictionaries do not maintain a fixed sequence like lists, you cannot access elements by index.

In [ ]:
#Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
#     In a list we using index positions. The index is an integer that starts from 0 for the first element, 1 for the second, and so on. Lists are ordered, the items in the list retain their order of insertion.
#     my_list = [10, 20, 30]
#     my_list[0] = 10
#    In a dictionary we using keys. Keys can be of any immutable data type (like strings, numbers, or tuples), and each key maps to a value. Dictionaries are also ordered, they maintain the order of insertion of key-value pairs, but they are accessed by keys, not indices.
#    my_dict = {'name': 'Alice', 'age': 25}
#    print(my_dict['name']) = 'Alice' # Accessing the value using the key 'name'

**Practical Questions**

In [7]:
# Q1. Write a code to create a string with your name and print it.
my_name = "Aditi"
print(my_name)

Aditi

In [9]:
# Q2. Write a code to find the length of the string "Hello World".
s= "Hello World"
len(s)

11

In [10]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming".
s= "Python Programming"
s[0:3]

'Pyt'

In [11]:
# Q4. Write a code to convert the string "hello" to uppercase.
s= "hello"
s.upper()

'HELLO'

In [16]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s= "I like apple."
s.replace("apple", "orange")
s

'I like apple.'

In [17]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [18]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [20]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [21]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
lst[1]

'b'

In [22]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst= [10, 20, 30, 40, 50]
rev_lst= lst [::-1]
rev_lst

[50, 40, 30, 20, 10]

In [23]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [27]:
# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ("red", "green", "blue", "yellow")
t[-2]

'blue'

In [25]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
min(t)

5

In [26]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ("dog", "cat", "rabbit")
t.index("cat")

1

In [28]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ("apple", "banana", "orange")
"kiwi" in t

False

In [29]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [30]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [31]:
# Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [32]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

In [33]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

In [34]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Aditi", "age": 20, "city": "Mumbai"}
print(my_dict)

{'name': 'Aditi', 'age': 20, 'city': 'Mumbai'}

In [35]:
# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

In [38]:
# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic["age"]
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [39]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dic = {'name': 'Alice', 'city': 'Paris'}
"city" in my_dic

True

In [40]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3, 4]
tup = (1, 2, 3, 4)
dic = {"name": "john", "age": 20, "city": "delhi"}
print(lst)
print(tup)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'john', 'age': 20, 'city': 'delhi'}

In [41]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = [random.randint(1, 100) for _ in range(5)]
lst.sort()
print(lst)

[8, 12, 29, 35, 35]

In [42]:
# Q28. Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "orange", "grape", "kiwi"]
print(lst[3])

grape

In [43]:
# Q29. Write a code to combine two dictionaries into one and print the result.
dic1 = {"name": "john", "age": 20}
dic2 = {"city": "delhi", "country": "india"}
dic1.update(dic2)
print(dic1)

{'name': 'john', 'age': 20, 'city': 'delhi', 'country': 'india'}

In [44]:
# Q30. Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "orange", "grape", "kiwi"]
set1 = set(lst)
print(set1)

{'orange', 'banana', 'apple', 'grape', 'kiwi'}